.forgot-password-page {
  width: 100%;
  padding: 0;
}

.forgot-password-page .auth-copy {
  margin-top: 22px;
}

.forgot-password-page .field {
  margin-top: 20px;
}

.forgot-password-page .primary {
  margin-top: 16px;
}

.forgot-password-page .secondary {
  margin-top: 10px;
  width: 100%;
}
